body {
	background-color: black;
	font-family: 'Roboto', Sans-serif;
	font-weight: 100;
}

.top-div {     
	background-image: url("https://s3.amazonaws.com/codecademy-content/projects/innovation-cloud/bg.jpg"); 
	background-size: cover;
	text-align: center;
	height: 800px;
	color: white;
}

.top-div h1{
	margin-top: 0;
	margin-bottom: 80px;
	font-size: 80px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	line-height: 100px;
	display: block;
}

.top-div p{
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 8px;
	margin-bottom: 40px;
}

.top-div .top-container{
	position: relative;
	top: 200px;
	padding-top: 50px;

}

.btn{
	text-align: center;
	text-decoration: none;
	color:#fff;
	background: #000;
	padding: 10px 40px;
}

.nav .container{
	padding: 0 10px;
	margin: 0 56px;
}

.nav .container ul{
	margin: 0px;
	padding: 0px;
}

.nav ul li{
	display: inline-block; /* li would not get squashed when the window gets smaller*/
	color: #fff;
	list-style: none;
	/* make the button appear larger*/
	line-height: 80px;
	padding:0 10px;
}

.btn:hover, .nav ul li:hover {
	background: #117bff;
	cursor: pointer; 
	transition: background .5s;  
}

/*
	change the font-size of .top-div h1 when the width of window is at least 850 px.
*/

@media (min-width:850px) {
	.top-div h1 {
		font-size: 120px; /* Rescale the font */
	}
}
/*
	change the font-size of .top-div h1 when the width of window is more than 500 px.
*/

@media (max-width: 500px) {
  .top-div h1 {
    font-size: 50px; /* Rescale the font and line height */
    line-height: 64px;
  }
}